@import 'normalize.css';
@import url('http://fonts.cdnfonts.com/css/samsungone');

:root {
    --primary: #fe2c55;

    /* Default layout */
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --default-layout-horizontal-spacer: 24px;

    --white: #fff;
    --black-color: #000;
    --text-color: #333;
}
html {
    font-size: 62.5%;
    font-family: 'SamsungOne', sans-serif;
    /* font-family: 'Samsung Sharp Sans', sans-serif; */
    line-height: 1.5;
    color: var(--text-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* font-size: 1.6rem; */
    text-rendering: optimizeSpeed;
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a[href] {
    display: block;
    color: var(--text-color);
    text-decoration: none;
}

/* Common */
.mt-20px {
    margin-top: 20px;
}

.ml-2px {
    margin-left: 2px;
}

.mr-16px {
    margin-right: 16px;
}

.pl-4px {
    padding-left: 4px;
}

.f-grow-1 {
    flex-grow: 1;
}

.f-shrink-0 {
    flex-shrink: 0;
}

/* Color */
.gray {
    color: #ccc;
}
